<router-outlet></router-outlet>
<div class="header"><H1>Cuestionario sobre Cultura General</H1></div>

<div class="pantallaP" *ngIf="PantallaP">
  <div class="reglas">
    <h1>Cuestionario sobre cultura general</h1>
    <ul>
      <li>Tener en cuenta las siguientes indicaciones:</li>
      <li>El cuestionario consta de 10 preguntas.</li>
      <li>Tienes 10 segundos para responder cada pregunta.</li>
      <li>Selecciona la respuesta correcta para cada pregunta.</li>
      <li>Al finalizar, se mostrará tu puntuación y las respuestas correctas.</li>
    </ul>
  </div>
  <div class="butoon">
    <button (click)="inicio()">Inicio</button>
  </div>
</div>

<div *ngIf="Formulario" class="Prin">
  <div *ngIf="preguntas.length > 0" class="Card">

    <div class="pTiempo">
      <h2>Pregunta {{ indiceActual + 1 }}</h2>
      <h2 [ngClass]="{ 'peligro': tiempo <= 3 }"
      >⏱️ Tiempo: {{ tiempo }}</h2>
    </div>
    
    <h2>{{ preguntas[indiceActual].pregunta }}</h2>
  <div class="pregunta">
  <label *ngFor="let opcion of preguntas[indiceActual].opciones; let i = index" >
  <input type="radio" name="pregunta1" [value]="opcion" (change)="seleccionarRespuesta(opcion)">  {{  opcion }}
  </label>
  
  </div >
  
  <div class="butoon">
    
    <button (click)="siguientePregunta()">siguiente</button>
  </div>
  </div>
  
</div>

<div class="headerRespuesta" *ngIf="quizTerminado">
  <h2>Resultados</h2>
  <div class="respuestas" *ngFor="let p of preguntas; let i = index">
    <h3>Pregunta {{ i + 1 }}</h3>
    <h3>{{ p.pregunta }}</h3>
    <div
      *ngFor="let opcion of p.opciones"
    >
  
    <label [ngClass]="{

        'correcta': opcion === respuestas[i] && opcion === p.respuestaCorrecta,
        'incorrecta': opcion === respuestas[i] && opcion !== p.respuestaCorrecta
      }">
    <input type="radio" name="pregunta1" [value]="opcion" (change)="seleccionarRespuesta(opcion)"> {{ opcion }}
    </label><br>
    </div>
    <h2> La respuesta correcta es: {{p.respuestaCorrecta}} </h2>  

  </div>
  <h2 class="resultadoFinal"> Tu puntuación es: {{ puntuacion }}/{{ preguntas.length }}</h2>

</div>